# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# MacOS
.DS_Store
__MACOSX/

# Logs
logs/
*.log

# Env files
.env

# Pytest
.pytest_cache/

# Zip / temp
*.zip

# Jupyter
.ipynb_checkpoints/